<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>datas</key>
	<array>
		<string>When I say I know you,I mean I knew you yesterday. I do not know you actually now.</string>
		<string>Wonders are many,and nothing is more wonderful then man.</string>
		<string>The proper function of man is to live,but not to exist.</string>
		<string>If you smile when one is around,you really mean it.</string>
		<string>There is a time to speak and a time to be silent.</string>
		<string>The worst bankrupt is the person who lost his enthusiasm.</string>
		<string>It is awfully easy to be hard-boiled about everything in the daytime,but at night it is another thing.</string>
		<string>To err is human,to forgive,divine.</string>
		<string>There is an unconscious heeling process within the mind which mends up in spite of our desperate determination never to forget.</string>
		<string>In this world there are only two tragedies. One is not getting what one wants, and the other is getting it.</string>
		<string>Naked came I into this world,and naked must I go out.</string>
		<string>Passion,though a bad regulator,is a powerful spring.</string>
		<string>Carve your name on hearts and not on marbles.</string>
		<string>I can resist everything except temptation.</string>
		<string>What is a man&apos;s first duty? The answer is brief: To be himself.</string>
		<string>The love of country is the first virtue in a civilized man.</string>
		<string>We can only love what we know and we can never know completely what we do not love.</string>
		<string>A beautiful form is better than a beautiful face;a beautiful behavior than a beautiful form.</string>
		<string>Man is，Properly speaking,based upon hope;he has no other posseession but hope.</string>
		<string>Man must look just as ridiculous to the crab when it sees him walk　forward.</string>
		<string>All men whilst they are awake are in one common world;but each of them,when he is asleep,is in a world of his own.</string>
		<string>Everyone is a moon,and has a dark side which he never shows in anybody.</string>
		<string>Do not rejoice over anyone&apos;s death;remember that we all must die.</string>
		<string>As long as any man exists,there is some need of him;let him fight for his own.</string>
		<string>Repetition does not transform a lie into a truth.</string>
		<string>The instinct of a man is to pursue everything that flies from him, and to fly from all that pursue him.</string>
	</array>
</dict>
</plist>
